%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
    %title
      ="New Order #{@order.id}"

    = stylesheet_link_tag "email", media: "all"

  %body{:bgcolor=>"#FFFFFF"}

    %table.body-wrap
      %tr
        %td
        %td.container{:bgcolor=>"#FFFFFF"}
          .content
            %table
              %tr
                %td
                  %h3
                    Hi Yojana,
                    %br
                    %strong
                      = "New Order #{@order.id}"
                  %p.lead
                    = "New order was placed today on Kalakrati. Total amount for the order is ₹#{@order.total_order_amount}. Please find the details below."

                  %p.callout
                    You can see the order details
                    %a{:href => "#{checkout_order_url(@order)}"}
                      here

                  %h3
                    %strong
                      Order summary:
                    %br
                    - @order.order_items.each do |item|
                      = "#{item.product.name}  - [ #{item.quantity} x ₹#{item.price.amount} ] = #{item.total_cost}  "

                    %br
                    %br

                    %strong
                      = "Total Cost : #{@order.total_order_amount}"
                    %br
                    %br
                  %p
                    %strong
                      Shipping details:
                    %br
                    = "#{@order.address.address_line1}"
                    %br
                    = "#{@order.address.address_line2}"
                    %br
                    = "#{@order.address.city}"
                    %br
                    = "#{@order.address.state}"
                    %br
                    = "#{@order.address.country}"
                    %br
                    = "#{@order.address.zipcode}"
                    %br
                      %strong
                      = "#{@order.address.mobile}"

                  %p

                    %strong
                      Address Notes from customer
                    = "#{@order.address.additional_notes}"

                    %br

                    %strong
                      Payment Notes from customer
                    = "#{@order.payment_notes}"

                  %br
                  %br

                  %p
                    = "- With love"
                    %br
                    Kalakrati automated mail generator