<div class="container main-container headerOffset">

  <%= render partial: "checkout_breadcrumb" %> 

  <%= render partial: "checkout_header" %> 

  <div class="row" ng-controller="OrderController">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">

        <div class="col-xs-12 col-sm-12">

          <%= render partial: "checkout_section", locals: {current_section: "Order", ng_class: ""} %>

          <%= render partial: "confirm_product_listing" %>
          <div class="cartFooter w100">
            <div class="box-footer">
              <div class="pull-right">
                <a href="<%= root_path %>" class="btn btn-primary btn-small "> 
                  Continue Shopping &nbsp; <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!--/ cartFooter --> 
        </div>

      </div>
    </div>
    <!--/row end--> 

    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar"> 
      <%= render partial: "calculation_box" %>
    </div>
    <!--/rightSidebar--> 

  </div>
  <!--/row-->

  <div style="clear:both"></div>
</div>
