<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i> Order action history
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <ul class="timeline">
      <% @order.order_audit_logs.reverse.each_with_index do |audit, index| %>
          <li class="<%= index % 2 == 0 ? 'timeline-inverted' : ''%>">
            <div class="timeline-badge <%= timeline_node_color_for(audit.to) %>"><i class="fa <%= timeline_node_icon_for(audit.to) %>"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title"><%= audit.to.to_s.camelize %></h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i><%= " Updated on #{audit.when.in_time_zone("Mumbai").strftime("%d-%b-%Y - %I:%M %p")}"%></small>
                </p>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>