<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> Support </h3>
          <ul>
            <li class="supportLi">
              <p> Call or email us for enquiries and questions </p>
              <h4> <a class="inline" href="callto:+91-9930196120"> <strong> <i class="fa fa-phone"> </i> +91-9930196120 </strong> </a> </h4>
              <h4> <a class="inline" href="mailto:kalakrati@outlook.com"> <i class="fa fa-envelope-o"> </i> kalakrati@outlook.com </a> </h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Shop </h3>
          <ul>
            <li> <a href="index.html"> Home </a> </li>
            <li> <a href="category.html"> Collections </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Information </h3>
          <ul>
            <li> <a href="about-us.html"> About us </a> </li>
            <li> <a href="<%= contactus_path %>"> Contact us </a> </li>
            <li> <a href="terms-conditions.html"> Terms &amp; Conditions </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> My Account </h3>
          <ul>
            <li> <a href="account.html"> My Account </a> </li>
            <li> <a href="my-address.html"> My Address </a> </li>
            <li> <a href="<%= cart_path %>"> Shopping Cart </a> </li>
            <li> <a href="wishlist.html"> Wisth list </a> </li>
            <li> <a href="order-list.html"> Order list </a> </li>
          </ul>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
          <h3> Stay in touch </h3>
          <ul>
            <li>
              <%= render partial: "shared/subscribe" %>
            </li>
          </ul>
          <ul class="social">
            <li class="text-ce"> <a href="https://www.facebook.com/Kalakrati"> <i class=" fa fa-facebook"> &nbsp; </i> </a> </li>
            <li> <a href=""> <i class="fa fa-twitter"> &nbsp; </i> </a> </li>
            <li> <a href=""> <i class="fa fa-google-plus"> &nbsp; </i> </a> </li>
            <li> <a href=""> <i class="fa fa-pinterest"> &nbsp; </i> </a> </li>
            <li> <a href=""> <i class="fa fa-youtube"> &nbsp; </i> </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </div>
  <!--/.footer-->
  
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> &copy; Kalakrati 2014. All right reserved. </p>
      <div class="pull-right paymentMethodImg"> <img height="30" class="pull-right" src="<%= asset_path('site/payment/master_card.png') %>" alt="img" > <img height="30" class="pull-right" src="<%= asset_path('site/payment/paypal.png') %>" alt="img" > <img height="30" class="pull-right" src="<%= asset_path('site/payment/american_express_card.png') %>" alt="img" > <img  height="30" class="pull-right" src="<%= asset_path('site/payment/discover_network_card.png') %>" alt="img" > <img  height="30" class="pull-right" src="<%= asset_path('site/payment/google_wallet.png') %>" alt="img" > </div>
    </div>
  </div>

  <!--/.footer-bottom--> 
</footer>
