%ul.nav.navbar-nav
  %li.active
    %a{:href=>root_path} Home
  %li.dropdown.megamenu-fullwidth
    %a{"data-toggle" => "dropdown", :class => "dropdown-toggle", :href=>"#"}
      Shop
      %b.caret
    %ul.dropdown-menu
      %li.megamenu-content
        %ul.col-lg-3.col-sm-3.col-md-3.unstyled.noMarginLeft.newCollectionUl
          %li.no-border
            %p.promo-1
              %strong COLLECTIONS
          - @root_categories[0..-4].each do |category|
            %li
              %a{:href=>category_listing_path(category.id, category.name)} #{category.name}

        - @root_categories[-3..-1].each do |category|
          %ul.col-lg-3.col-sm-3.col-md-3.col-xs-4
            %li
              %a.newProductMenuBlock{:href => "#{category_listing_path(category.id, category.name)}"}
                %img.img-responsive{:src => "#{asset_path("#{category.image_url}")}", :alt=>"#{category.name}"}
                  %span.ProductMenuCaption
                    %i.fa.fa-caret-right
                    = category.name.upcase