.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a.collapseWill{"data-toggle"=>"collapse", :href=>"#collapseCategory"}
        %span.pull-left
          %i.fa.fa-caret-right
        Collections
  .panel-collapse.collapse.in#collapseCategory
    .panel-body
      %ul.nav.nav-pills.nav-stacked.tree
        - Category.roots.each do |root_category|
          - if root_category != @root_category
            %li
              %a{:href=>"#{category_products_url(root_category)}"}
                %span.badge.pull-right
                  = root_category.all_products_in_hierarchy.count
                = root_category.name
          - else
            %li.active.dropdown-tree.open-tree
              %a.dropdown-tree-a
                %span.badge.pull-right
                  = root_category.all_products_in_hierarchy.count
                = root_category.name
              %ul.category-level-2.dropdown-menu-tree
                - root_category.descendants.each do |subcategory|
                  %li.dropdown-tree
                    %a{:href=>"#{category_products_url(subcategory)}", :class => "dropdown-tree-a #{category_is_an_ancestor_or_self(@category, subcategory)? 'active':''}"}
                      = subcategory.name
