%h1.product-title
  = @product.name
%h3.product-code
  = "Product Code: #{@product.code}"
.product-price
  %span.price-sales
    = "#{@product.price.currency} #{@product.price.amount}"
  -#%span.price-standard
  -#  = "#{@product.price.currency} #{@product.price.amount}"

.details-description
  %p "#{@product.description}"