<div class="container main-container headerOffset">
  <div class="row">
    <%= render :partial=>"breadcrumb" %>
  </div>
  <div class="row transitionfx">
  
    <%= render :partial => "product_images" %> 
    
    <!-- right column -->
    <div class="col-lg-6 col-md-6 col-sm-5">
    
      <%= render :partial => "product_details" %>

      <div class="productFilter">
        <div class="filterBox">
          <select style="display: none;">
            <option value="strawberries" selected="">Quantity</option>
            <option value="mango">1</option>
            <option value="bananas">2</option>
            <option value="watermelon">3</option>
            <option value="grapes">4</option>
            <option value="oranges">5</option>
            <option value="pineapple">6</option>
            <option value="peaches">7</option>
            <option value="cherries">8</option>
          </select>
          <%#<div class="minict_wrapper">%>
            <%#<input type="text" value="Quantity" placeholder="Quantity">%>
            <%#<ul>%>
              <%#<li data-value="strawberries" class="selected">Quantity</li>%>
              <%#<li data-value="mango" class="">1</li>%>
              <%#<li data-value="bananas" class="">2</li>%>
              <%#<li data-value="watermelon" class="">3</li>%>
              <%#<li data-value="grapes" class="">4</li>%>
              <%#<li data-value="oranges" class="">5</li>%>
              <%#<li data-value="pineapple" class="">6</li>%>
              <%#<li data-value="peaches" class="">7</li>%>
              <%#<li data-value="cherries" class="">8</li>%>
              <%#<li class="minict_empty">No results match your keyword.</li></ul></div>%>
        <%#</div>%>
      </div>
      <!-- productFilter -->
      
      <%= render :partial => "cart_actions" %> 
      <div class="clear"></div>
      
      <%= render :partial => "product_summary" %> 
      <div style="clear:both"></div>
      
      <%= render :partial => "product_share_options" %>
      
    </div><!--/ right column end -->
    
  </div>
  <!--/.row-->
</div>
</div>
