- content_for :head do
  %meta{:property=>"og:url", :content=>"#{product_url(@product.id)}"}
  %meta{:property=>"og:description", :content=>"#{@product.description}"}
  %meta{:property=>"og:title", :content=>"#{@product.name}"}
  %meta{:property=>"og:site_name", :content=>"Kalakrati"}
  %meta{:property=>"og:image", :content=> "#{asset_url("#{@product.images.first.url}")}"}

.container.main-container.headerOffset{"ng-controller" => "ProductDetailsController"}
  .row
    = render :partial => "product_breadcrumb" 
  .row.transitionfx
    = render :partial => "product_images"

    .col-lg-6.col-md-6.col-sm-5
      = render :partial => "product_details"

      - if @product.in_stock
        .productFilter
          .filterBox
            %select{:style => "display: none;", "ng-model" => "selectedQuantity", "ng-options" => "quantity.key for quantity in quantities"}


      = render :partial => "cart_actions"

      .clear

      =render :partial => "product_summary"

      %div{:style => "clear:both"}

      = render :partial => "product_share_options"
