.navbar-default.sidebar{:role=>"navigation"}
  .sidebar-nav.navbar-collapse
    %ul.nav.in#side-menu
      %li
        %a{:href => "#{admin_dashboard_path}", class: "#{current_page?(admin_dashboard_path) ? 'active' : ''}"}
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        %a{:href=>"#{admin_orders_manage_path}", class: "#{current_page?(admin_orders_manage_path) ? 'active' : ''}"}
          %i.fa.fa-inbox.fa-fw
          Orders
      %li
        %a{:href=>"#{admin_products_manage_path}", class: "#{current_page?(admin_products_manage_path) ? 'active' : ''}"}
          %i.fa.fa-barcode.fa-fw
          Products