<!DOCTYPE html>
<html lang="en" ng-app="kalakrati">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path('ico/apple-touch-icon-144-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path('ico/apple-touch-icon-114-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path('ico/apple-touch-icon-72-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('ico/apple-touch-icon-57-precomposed.png') %>">
  <link rel="shortcut icon" href="<%= asset_path('ico/favicon.ico') %>">
  <title>Kalakrati - The store of handcrafted products</title>

  <script>
      paceOptions = {
        elements: true
      };
  </script>
  <%#<script src="assets/js/pace.min.js"></script>%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'analytics/googletracking' if ENV['KALAKRATI_ENV'] == 'production'%>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render partial: "shared/navbar_top" %>

  <%= yield %>

  <%= render :partial => "shared/footer" %>
    
  </body>
</html>

